<!DOCTYPE html>
<html>
<head>
    <title>Ausbildung - BS1 Schulanmeldung</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/customStyle.css') }}" type="text/css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"
          integrity="sha256-JDBcnYeV19J14isGd3EtnsCQK05d8PczJ5+fvEvBJvI=" crossorigin="anonymous"/>

</head>


<body class="">

<header>
    <div class="container containerColor">
        <div class="row SpacingTop SpacingSides">
            <div class="col hideLogo m-4">
                <img class="img-fluid" src="{{ url_for('static', filename='pictures/Logo_Berufsschule_4c.jpg') }}"
                     width="200px" alt="Logo">
            </div>
            <div class="col">
            </div>
            <div class="col hideLogo m-4">
                <div class="hidePictures optimizedPicture">
                    <img class="img-fluid"
                         src="{{ url_for('static', filename='pictures/SchulansichtInDenLogofarbenSlideFarbe.png') }}"
                         width="200px" alt="Logo">

                </div>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col text-center">
                <h1 class="headlineFont headlineGlobal">Schulanmeldung</h1>
                <hr>
            </div>
        </div>
    </div>
</header>

<div id="content" class="container  containerColor jumbotron">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <br>
            <h2 class="headlineFont">Erfassen der Ausbildungsdaten</h2>

            <form name="ausbildung" method="post">
                <div class="row">
                    <div class="col-lg-12">
                        <label class="labelFont required">Betrieb</label>
                        <div class="form-error">

                        </div>
                        <select id="ausbildung_betrieb" name="ausbildung[betrieb]" required="required"
                                onchange="toggle()" class="form-control">
                            <option value="" selected="selected">Auswählen...</option>
                            {% include 'betrieb.html' %}
                        </select>
                        <a class="btn controlButton blankLinkButton btn-sm float-right smallButtonDistance"
                           href="/betrieb/neu">Neuen Betrieb anlegen</a>
                    </div>
                    <div class="col-sm-12">
                        <label class="labelFont required">Ausbilder*innen-E-Mail (alternativ Betriebs-E-Mail)</label>
                        <div class="form-error">

                        </div>
                        <input type="email" id="ausbildung_ausbilderemail" name="ausbildung[ausbilderemail]"
                               required="required" placeholder="mein.ausbilder@musterfirma.de" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="labelFont required">Beginn</label>
                        <div class="form-error">

                        </div>
                        <input type="text" id="ausbildung_beginn" name="ausbildung[beginn]" required="required"
                               class="form-control"/>
                    </div>
                    <div class="col">
                        <label class="labelFont required">Ende</label>
                        <div class="form-error">

                        </div>
                        <input type="text" id="ausbildung_ende" name="ausbildung[ende]" required="required"
                               class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label class="labelFont required">Beruf</label>
                        <div class="form-error">

                        </div>
                        <select id="ausbildung_beruf" name="ausbildung[beruf]" required="required" class="form-control">
                            <option value="" selected="selected">Auswählen...</option>
                            <option value="235">Anlagenmechaniker - Apparatetechnik</option>
                            <option value="236">Ausbaufacharbeiter - Schwerpunkt Estricharbeiten</option>
                            <option value="237">Ausbaufacharbeiter - Schwerpunkt Fliesen, Platten- und Mosai</option>
                            <option value="238">Ausbaufacharbeiter - Schwerpunkt Stuckateurarbeiten</option>
                            <option value="239">Ausbaufacharbeiter - Schwerpunkt Trockenbauarbeiten</option>
                            <option value="240">Ausbaufacharbeiter - Schwerpunkt Wärme-, Kälte-, Schallschut</option>
                            <option value="241">Ausbaufacharbeiter - Schwerpunkt Zimmerarbeiten</option>
                            <option value="244">Bauten- und Objektbeschichter</option>
                            <option value="245">Bauwerksmechaniker für Abbruch- und Betontrenntechnik</option>
                            <option value="246">Behälter- und Apparatebauer / Kupferschmied</option>
                            <option value="247">Beton- u.Stahlbetonbauer</option>
                            <option value="248">Betonfertigteilbauer</option>
                            <option value="354">Brunnenbauer</option>
                            <option value="252">Büchsenmacher</option>
                            <option value="253">Elektroanlagenmonteur</option>
                            <option value="263">Elektroniker f. Maschinen- u. Antriebstechnik(IHK)</option>
                            <option value="254">Elektroniker FR: Automatisierungs- und Systemtechnik</option>
                            <option value="255">Elektroniker FR: Energie- und Gebäudetechnik</option>
                            <option value="257">Elektroniker für Automatisierungstechnik</option>
                            <option value="258">Elektroniker für Betriebstechnik</option>
                            <option value="259">Elektroniker für Gebäude- und Infrastruktursysteme</option>
                            <option value="356">Elektroniker für Gebäudesystemintegration</option>
                            <option value="260">Elektroniker für Geräte und Systeme</option>
                            <option value="261">Elektroniker für Informations- und Systemtechnik</option>
                            <option value="262">Elektroniker für Maschinen- u. Antriebstechnik(HW)</option>
                            <option value="264">Estrichleger</option>
                            <option value="265">Fachinformatiker - Anwendungsentwicklung</option>
                            <option value="351">Fachinformatiker - Daten- und Prozessanalyse</option>
                            <option value="352">Fachinformatiker - Digitale Vernetzung</option>
                            <option value="267">Fachinformatiker - Systemintegration</option>
                            <option value="266">Fachinformatiker FH-Dual</option>
                            <option value="268">Fachkraft für Metalltechnik - Konstruktionstechnik</option>
                            <option value="269">Fachkraft für Metalltechnik - Montagetechnik</option>
                            <option value="270">Fachkraft für Metalltechnik - Umform- und Drahttechnik</option>
                            <option value="271">Fachkraft für Metalltechnik - Zerspanungstechnik</option>
                            <option value="274">Fahrradmonteur</option>
                            <option value="275">Fahrzeuglackierer</option>
                            <option value="276">Fassadenmonteur</option>
                            <option value="277">Feinwerkmechaniker - Feinmechanik</option>
                            <option value="278">Feinwerkmechaniker - Maschinenbau</option>
                            <option value="279">Feinwerkmechaniker - Werkzeugbau</option>
                            <option value="280">Feinwerkmechaniker - Zerspanungstechnik</option>
                            <option value="281">Fertigungsmechaniker</option>
                            <option value="282">Feuerungs- und Schornsteinbauer</option>
                            <option value="284">Fliesen-, Platten- und Mosaikleger</option>
                            <option value="285">Fotograf</option>
                            <option value="287">Gießereimechaniker - Handformguss</option>
                            <option value="288">Gießereimechaniker - Maschinenform-, Druck- und Kokillenguss</option>
                            <option value="289">Hochbaufacharbeiter - Schwerpunkt Beton- und Stahlbetonbauar</option>
                            <option value="290">Hochbaufacharbeiter - Schwerpunkt Maurerarbeiten</option>
                            <option value="291">Holzmechaniker</option>
                            <option value="292">Industrieelektriker FR: Betriebstechnik</option>
                            <option value="293">Industrieelektriker FR: Geräte und Systeme</option>
                            <option value="294">Industriemechaniker</option>
                            <option value="355">Informationselektroniker</option>
                            <option value="296">IT-System-Elektroniker</option>
                            <option value="303">Kanalbauer</option>
                            <option value="295">Kaufmann für Digitalisierungsmanagement</option>
                            <option value="297">Kaufmann für IT-Systemmanagement</option>
                            <option value="306">Kfz-Mechatroniker - Karosserietechnik</option>
                            <option value="310">Kfz-Mechatroniker - System- und Hochvolttechnik</option>
                            <option value="307">Kfz-Mechatroniker-Motorradtechnik</option>
                            <option value="308">Kfz-Mechatroniker-Nutzfahrzeugtechnik</option>
                            <option value="309">Kfz-Mechatroniker-PKW-Technik</option>
                            <option value="311">Klempner</option>
                            <option value="313">Konstruktionsmechaniker</option>
                            <option value="314">Land- und Baumaschinenmechatroniker</option>
                            <option value="315">Maler und Lackierer - Bauten- u. Korrosionsschutz</option>
                            <option value="316">Maler und Lackierer - Gestaltung u. Instandhaltung</option>
                            <option value="317">Maler und Lackierer - Kirchenmalerei-Denkmalpflege</option>
                            <option value="318">Maschinen- und Anlagenführer - Fertigungsmechaniker</option>
                            <option value="319">Maschinen- und Anlagenführer - Metalltechnik</option>
                            <option value="320">Maurer</option>
                            <option value="305">Mech. f. Karosserie-Fahrzeugbautechnik-Instandhalt</option>
                            <option value="304">Mech. f. Karosserie-Fahrzeugbautechnik-Karosserie</option>
                            <option value="321">Mechaniker für Reifen- und Vulkanisationstechn. FR Reifen- u</option>
                            <option value="322">Mechaniker für Reifen- und Vulkanisationstechn. FR Vulkanisa</option>
                            <option value="323">Mechatroniker</option>
                            <option value="324">Metall- und Glockengießer - Zinngusstechnik</option>
                            <option value="325">Metallbauer - Konstruktionstechnik</option>
                            <option value="326">Metallbauer - Metallgestaltung</option>
                            <option value="327">Metallbauer-Nutzfahrzeugbau/Fahrzeugkonstruktionst</option>
                            <option value="300">mithelfende Familienangehörige</option>
                            <option value="301">ohne Berufstätigkeit und Arbeitslose</option>
                            <option value="328">Praktikanten (EQJ-Maßnahme)</option>
                            <option value="329">Rohrleitungsbauer</option>
                            <option value="334">Stanz- und Umformmechaniker</option>
                            <option value="335">Straßenbauer</option>
                            <option value="336">Stukkateur</option>
                            <option value="337">Systemelektroniker</option>
                            <option value="302">Teilnehmer an Lehrgängen der Arbeitsverwaltung</option>
                            <option value="338">Tiefbaufacharbeiter - Schwerpunkt Gleisbauarbeiten</option>
                            <option value="339">Tiefbaufacharbeiter - Schwerpunkt Kanalbauarbeiten</option>
                            <option value="340">Tiefbaufacharbeiter - Schwerpunkt Rohrleitungsbauarbeiten</option>
                            <option value="341">Tiefbaufacharbeiter - Schwerpunkt Straßenbauarbeiten</option>
                            <option value="342">Tischler</option>
                            <option value="343">Trockenbaumonteur</option>
                            <option value="350">Unbegleitete Flüchtlinge</option>
                            <option value="344">Verfahrensmechaniker in der Hütten- u. Halbzeugindustrie</option>
                            <option value="249">Werksteinhersteller</option>
                            <option value="345">Werkzeugmechaniker</option>
                            <option value="346">Zerspanungsmechaniker</option>
                            <option value="347">Zimmerer</option>
                            <option value="348">Zweiradmechatroniker - Fahrradtechnik</option>
                            <option value="349">Zweiradmechatroniker - Motorradtechnik</option>
                        </select>
                        <br>
                        <br>
                    </div>
                </div>
                <button type="submit" class="btn controlButton buttonFont btn-block blankLinkButton">Weiter...</button>

                <input type="hidden" id="ausbildung__token" name="ausbildung[_token]"
                       value="5dJKM_igvWF4je3Eq-Lv2gAkOj0h5Na9Ll8kUQmcatc"/></form>

        </div>
        <div class="col-lg-1"></div>
    </div>
    <br>
    <br>
</div>

<div class="" id="footer">
    <div class="container containerFooter">
        <div class="row SpacingSides">
            <div class="col-sm-6 text-left headlineFont">
                <br>
                Staatliche Berufsschule I<br>
                Kerschensteinerstraße 6<br>
                95448 Bayreuth<br>
                <br>

            </div>
            <div class="col-sm-6 text-right headlineFont">
                <br>
                Tel.: 09 21 / 50 73 93 6 - 0<br>
                Fax: 09 21 / 50 73 93 6 - 99<br>
                <a class="blankLink" href="https://www.bs1-bt.de/allgemeines/kontakt" target="_blank">Kontaktfomular</a>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-lg-12 text-center">
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <a class="blankLink greyFooter" href="https://www.bs1-bt.de/impressum"
                           target="_blank">Impressum</a>
                    </div>
                    <div class="col-lg-6">
                        <a class="blankLink greyFooter" href="https://www.bs1-bt.de/datenschutz" target="_blank">Datenschutz</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="copyright">
                        <hr class="copyrightLine">
                        <a href="https://github.com/SimonHaas/schulanmeldung" target="_blank">&copy; Schüler IFH12:
                            Simon Haas, Christian Löwel, Max Großmann, Michelle Krebs, Tim Rochholz, Lisa Heinrich, Jan
                            Kemnitzer - Lehrkraft Johannes Hösl</a>
                        <hr class="copyrightLine">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"
        integrity="sha256-tW5LzEC7QjhG0CiAvxlseMTs2qJS7u3DRPauDjFJ3zo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.de.min.js"
        integrity="sha256-MRg0FdDDqvQkQ3VIUMZCZ39M6O40kpoIYqCGU2rRyxE=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        var d = new Date();
        var dateStr = "01.09." + d.getFullYear();
        $('#ausbildung_beginn').datepicker({
            format: 'dd.mm.yyyy',
            autoclose: true,
            assumeNearbyYear: true,
            calendarWeeks: true,
            language: 'de',
            todayHighlight: true,
            weekStart: 1,
            startDate: '-5y',
            endDate: '+5y',
            defaultViewDate: dateStr
        });
        $('#ausbildung_ende').datepicker({
            format: 'dd.mm.yyyy',
            autoclose: true,
            assumeNearbyYear: true,
            calendarWeeks: true,
            language: 'de',
            todayHighlight: true,
            weekStart: 1,
            startDate: '-5y',
            endDate: '+5y',
            defaultViewDate: dateStr,
            startView: 2
        });
    });
</script>
</body>
</html>
